{
	"account"   : "",
	"password"  : "",
	"protocol"  : "wss://",
	"server"    : "chat.f-list.net",
	"endpoint"  : "/chat2",
	"port"      : 8722,
	"character" : "",
	"owner"		: "",
	"default_channels": ["Development"],
	"webserver" : {
	    "protocol" : "http",
		"host"     : "127.0.0.1",
		"port"     : "8081",
		"secret"   : "321!_total_secret_phrase_42"
	},
	"plugins" : {
		"ranch" : {
			"sql_host": "databse",
			"sql_port": "3306",
			"sql_user": "root",
			"sql_pass": "example",
			"sql_database": "Ranch" 
		}
	}	
}
